.container
{
width:500px;
    border: 2px solid black;
    background-color: aqua;
    height: 30rem;
    display: flex;

    justify-content:space-evenly;
}
.box
{
width: 80px;
background-color: #FF671F;
border: 3px solid black;
float: left;
height: 80px;
margin: 5px;
display: flex;
justify-content: center;
}
